In [29]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [30]:
income_df = pd.read_csv('LifeExpectancyIncome.csv')

In [31]:
income_df = income_df.set_index('Country').transpose()

In [32]:
income_df['Income / Person'] = income_df['Income / Person'].str.replace(r'[^-+\d.]', '').astype(int)

In [33]:
income_df['Life Expectancy'] = income_df['Life Expectancy'].astype(int)

In [34]:
income_df

Country        Income / Person  Life Expectancy
United States            41678               79
Ukraine                  16390               68
Ethiopia                   954               63
Average                  19674               70

In [35]:
income_df.plot()

In [36]:
plt.show()

In [37]:
income_df.plot(kind='bar', title='Income vs Life Expectancy')

In [38]:
plt.show() #bar graph

In [39]:
income_df.plot(x = 'Income / Person',y='Life Expectancy', kind='scatter')

In [40]:
plt.show() #scatter chart

In [41]:
plt.figure(figsize=(9, 6))

In [42]:
income_df = income_df.drop('Ethiopia')

In [43]:
protein_df = pd.read_csv('HighProteinFoods.csv')

In [54]:
protein_df.stack()

0   Food                     Almond Nuts
    Protein                        21.1g
    Carbs                           6.9g
    Fat                            55.8g
    Calories                    614 kcal
1   Food                       Anchovies
    Protein                        14.5g
    Carbs                           0.1g
    Fat                             2.8g
    Calories                     85 kcal
2   Food                       Asparagus
    Protein                         2.9g
    Carbs                           2.0g
    Fat                             0.6g
    Calories                     25 kcal
3   Food                         Avocado
    Protein                         1.9g
    Carbs                           1.9g
    Fat                            19.5g
    Calories                    195 kcal
4   Food                           Bacon
    Protein                        15.9g
    Fat                            19.8g
    Calories                    245 kcal
5   Food                     Baked Beans
    Protein                         9.5g
    Carbs                          22.1g
    Fat                             0.4g
    Calories                    130 kcal
6   Food                         Bananas
                          ...
47  Calories                    105 kcal
48  Food                            Tofu
    Protein                        12.1g
    Carbs                           0.6g
    Fat                             6.0g
    Calories                    105 kcal
49  Food               Tuna Fish (Steak)
    Protein                        25.6g
    Carbs                             0g
    Fat                             0.5g
    Calories                    110 kcal
50  Food              Tuna Fish (Tinned)
    Protein                        26.3g
    Carbs                           0.0g
    Fat                            10.7g
    Calories                    202 kcal
51  Food        Turkey Breast (Skinless)
    Protein                        22.3g
    Carbs                             0g
    Fat                             1.2g
    Calories                    100 kcal
52  Food             Venison (Deer meat)
    Protein                        30.21
    Fat                             3.19
    Calories                    158 kcal
53  Food                          Yogurt
    Protein                         4.5g
    Carbs                           6.6g
    Fat                            11.0g
    Calories                    145 kcal
dtype: object